.youtube-wrapper {
    padding: 40px 24px;
    max-width: 1200px;
    margin: 0 auto;

}
.youtube-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.search-box input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 360px;

    border: 1px solid #ff9999;
    color: #333;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.search-box input:focus {
    border-color: #ff4d4d;
    box-shadow: 0 0 6px rgba(255, 77, 77, 0.4);
    outline: none;
}


.youtube-header h2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}
.main-bottom-pagination-box {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Flexbox를 사용해 중앙 정렬 */
}