.youtube-wrapper {
    padding: 40px 24px;
    max-width: 1200px;
    margin: 0 auto;

}
.youtube-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-box select,
.search-box input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.youtube-header h2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 600;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}
.main-bottom-pagination-box {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Flexbox를 사용해 중앙 정렬 */
}