.video-card {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.video-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
    flex-shrink: 0;
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    flex-grow: 1;
}

.video-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.video-published-at {
    font-size: 13px;
    color: #aaa;
}

.video-view-count {
    font-size: 16px;
    color: #e63946;
}


.video-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 2;     /* 최대 2줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
}

.video-channel {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-thumbnail {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    transition: transform 0.2s ease;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.channel-info-link:hover {
    background-color: rgba(255, 140, 0, 0.12); /* 오렌지 하이라이트 */
    transform: translateY(-2px);
}
.channel-info-link:hover .video-channel {
    color: #ff8c00; /* 강조색 */
}
.video-info-link:hover {
    cursor: pointer;
    background-color: #e3f2fd; /* 부드러운 하늘색 */
    transform: translateY(-2px);
    color: #1e88e5; /* 텍스트는 연한 블루와 자연스럽게 어울림 */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #000;
    padding: 12px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 900px;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.video-item-counts {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
