.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    /*box-shadow: inset 0px 1px 8px -3px #ABABAB;*/
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 540px;
}

.headlineButtonWrapper {
    display: inline-block;
}

.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}

/* blockquote 스타일 재정의 */
blockquote {
    margin: 0; /* 기본 마진 제거 */
    padding: 10px; /* 여백 추가 */
    border-left: 4px solid  #4caf50; /* 구분선 추가 */
    background-color: #f9f9f9; /* 배경색 추가 */
    color: #333; /* 텍스트 색상 */
}
/* 코드 블록 스타일 */
pre {
    display: block;
    background-color: #2e3440; /* 다크 배경 */
    color: #d8dee9; /* 텍스트 색상 */
    padding: 16px; /* 여백 */
    border-radius: 4px; /* 모서리 둥글게 */
    font-family: 'Courier New', Courier, monospace; /* 고정폭 폰트 */
    font-size: 14px; /* 폰트 크기 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    margin: 16px 0; /* 위아래 간격 */
    line-height: 1.5; /* 줄 간격 */
}

.toolbarContainer {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}